$card-color: #f0f0f0;
$Text-color: hsl(229, 25%, 31%);
$border: hsl(224, 16%, 73%);
$light-steel-blue: #d7e4f5;

$light-salmon: #ffa07a;
$coral: #ff7f50;
$tomato: #ff6347;
$orange-red: #ff4500;
$dark-orange: #ff8c00;
$navy: #000080;
$dark-blue: #00008b;
$medium-blue: #0000cd;
$blue: #0000ff;
$royal-blue: #4169e1;
$cornflower-blue: #6495ed;
$sky-blue: #87ceeb;
$slate-blue: #6a5acd;
$medium-slate-blue: #7b68ee;
$dark-slate-blue: #483d8b;
$light-slate-blue: #8470ff;
$steel-blue: #4682b4;
$deep-sky-blue: #00bfff;
$powder-blue: #b0e0e6;
$light-blue: #add8e6;
$gradient1: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
@mixin element{
    background-color: $light-steel-blue;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
}


.game-container{
    .game{
        display: flex;
        flex-direction: column;
    .choices-row-one{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 500px;
        gap: 50px;
        margin: 0 auto !important;
        justify-content: center;
        align-items: center;
        margin-top: 40px !important;
        .paper {
            @include element;
            border : 20px solid hsl(230, 89%, 62%) ;
          
            img {
                justify-content: center;
                align-items: center;
                padding: 20px;
              }
        }
    }
    .choice-row-two{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 500px;
        gap: 50px;
        margin: 0 auto !important;
        justify-content: center;
        align-items: center;
        margin-top: 40px !important;
    }
}
}