$card-color: #f0f0f0;
$Text-color: hsl(229, 25%, 31%);
$border: hsl(224, 16%, 73%);

$light-salmon: #ffa07a;
$coral: #ff7f50;
$tomato: #ff6347;
$orange-red: #ff4500;
$dark-orange: #ff8c00;
$navy: #000080;
$dark-blue: #00008b;
$medium-blue: #0000cd;
$blue: #0000ff;
$royal-blue: #4169e1;
$cornflower-blue: #6495ed;
$sky-blue: #87ceeb;
$slate-blue: #6a5acd;
$medium-slate-blue: #7b68ee;
$dark-slate-blue: #483d8b;
$light-slate-blue: #8470ff;
$steel-blue: #4682b4;
$deep-sky-blue: #00bfff;
$powder-blue: #b0e0e6;
$light-blue: #add8e6;
$Barlow-font: "Barlow Semi Condensed", sans-serif;

@mixin game-elements{
    width: 80px !important;
    height: 30px;
    text-transform: uppercase;
    font-size: 20px !important;
}


.header{
    width: 600px !important;
    height: 100px !important;
    border: 2px solid #ccc !important;
    margin: 0 auto!important;
    padding: 20px!important;
    margin-top: 80px !important;
    border-radius: 12px !important;
    display: flex;
    flex-direction: row;
    gap: 70px !important;
    font-family: $Barlow-font;
    color: #fff;
    .intro{
        display: flex !important;
        flex-direction: column !important;
        height: 100px !important;
        font-family: $Barlow-font;
        color: #fff;
        gap: 2px !important;
        margin-top: -35px;
        .rock{
            @include game-elements;
        }
        .paper{
            @include game-elements;
        }
        .scissors{
            @include game-elements;
        }
    }
}