$card-color:#f0f0f0;
$Text-color:hsl(229, 25%, 31%);

.Rules-container{
    .rules{
        display: flex;
        width: 300px;
        height: 400px;
        background-color: $card-color;
        color: $Text-color;
    }
   
}