$card-color:#f0f0f0;
$Text-color:hsl(229, 25%, 31%);

.Rules-container{
    padding: 20px;
    margin-left: 35%;
    margin-top: 10%;
    .rules{
        display: flex;
        width: 350px;
        height: 370px;
        background-color: $card-color;
        color: $Text-color;
        border-radius: 8px;
        padding: 10px;
        .rules-content{
            display: flex;
            flex-direction: column;
            column-gap: 5rem;
            width: 200px;
            height: 300px;
            margin-top: 90px;
            .row1{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                .paper{
                    background-color:aquamarine;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                }
                .scissors{
                    background-color:red;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                }
    
            }
            .row2{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                .rock{
                    background-color:blue;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    justify-content: center;
                    align-items: center;
                }
            }
           
        }
    }
   
}