$card-color:#f0f0f0;
$Text-color:hsl(229, 25%, 31%);

.Rules-container{
    padding: 20px;
    margin-left: 35%;
    margin-top: 20%;
    .rules{
        display: flex;
        width: 380px;
        height: 380px;
        background-color: $card-color;
        color: $Text-color;
        border-radius: 8px;
        padding: 10px;
    }
   
}